# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing / cache
.pytest_cache/

# Build files
build/
dist/
*.egg-info/